
body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:  #FFFFFF;
}
.logo-line-header{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    margin-right: 76px;
}
.studio{
    color:#2e2f42;
}




.li-class-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding: 24px 0; 
}
.li-class-link:hover,
.li-class-link:focus{
    color:  #404bbf;
}
.class-adress{
    font-style: normal;
}
.class-adress-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.class-adress-link:hover,
.class-adress-link:focus{
    color: #404bbf;
}
.section-one{
    background-color:  #2e2f42;
    padding: 188px 0 188px;

}
.title-one{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px; 
}


.type-button{
    background-color:#4d5ae5;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 

}
.type-button:hover, 
.type-button:focus
{
  background-color:  #404bbf;
}

.zagolovok-thry{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.paragraf-class{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-thry{
    background-color: #F4F4FD;
}
.zagolovok{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}
.img{
    background-color: #FFFFFF;
}

.footer{
    background-color:  #2e2f42;
}
.paragraf-footer{
    line-height: 1.5;
    color:  #F4F4FD;
    letter-spacing: 0.02em;
}
.studio-class{
    color:  #f4f4fd;
}
img{
    display: block;
}

.page-header{
 border-bottom: 1px solid #e7e9fc;   
}

.box-one{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    align-items: center;

}
.li-flex{
    display: flex; 
    gap: 40px;
    margin-right: 40px 0px;

}
.adress-title{
    display: flex; 
    gap: 40px;
    margin-right: 40px 0px;
}