body{
    background-color: #FFFFFF;
    color:  #434455;
    font-family: "Roboto", sans-serif;
}
.nav-bar{
    width: 1440px;
    height: 72px;
    border: 0px, 0px, 1px, 0px;
    border-color: #E7E9FC;
    color: #FFFFFF;
}
.nav-container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


 #web{
    font-family: "Raleway"; 
    font-size: 18px;
    font-weight:700;
    line-height:21px;
    letter-spacing: 3%;
    color: #4D5AE5;

}
#studio{
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3%;
    color: #2E2F42;
}

.page-nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.address{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
}
.page-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    align-content: center;
    color:#FFFFFF;
    background-color: #2E2F42;
    lo
}