body{
    background-color: #FFFFFF;
    color:  #434455;
    font-family: "Roboto", sans-serif;
}



 .web{
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight:700;
    line-height:1.17;
    letter-spacing: 0.03;
    text-transform: uppercase;
    background-color: #2E2F42;
    color: #4D5AE5;

}
#studio{
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 3%;
    color: #2E2F42;
}

.page-nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.address  {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02;
    
    background-color: #434455;
}   
address{
    font-style: normal;
}
 .page-nav .link :hover{
color: #404bbf;
}
.page-nav .linc :focus{
    color: #404bbf;
}